body {
    background-image: url(../images/background.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

.layer {
    background-color: rgba(46, 46, 46, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    font-family:'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    color: rgb(65, 195, 247);

    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}